<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand text-uppercase border-right pr-4" href="#"><i class="fas fa-hippo"></i> Eureka Organization</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto text-uppercase">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="application.html">Submit Now</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="faq.html">FAQ</a>
            </li>
        </ul>
        <div class="btn-group">
            <div class="btn-group dropleft" role="group">
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">My Account</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item py-2 border-bottom" href="#">
                        <i class="fas fa-user-circle fa-fw mr-2"></i> Profile
                    </a>
                    <a class="dropdown-item py-2 border-bottom" href="#">
                        <i class="fas fa-file-alt fa-fw mr-2"></i> Applications
                    </a>
                    <a class="dropdown-item py-2 border-bottom" href="#">
                        <i class="fas fa-gavel fa-fw mr-2"></i> Judging Assignments
                    </a>
                    <a class="dropdown-item py-2" href="#">
                        <i class="fas fa-calendar-alt fa-fw mr-2"></i> Sessions
                    </a>
                </div>
            </div>
            <button type="button" class="btn btn-secondary">My Account</button>
        </div>
    </div>
</nav>
